.popular{
    padding-bottom: 100px;
    @media screen and (max-width: $max-desktop-width){
        padding-bottom: 10vw;
    }
    @media screen and (max-width: $max-width){
        padding-bottom: 5vw;
    }
    .popular-item{
        width: 650px;
        border-radius: 30px;
        filter: drop-shadow(0px 3px 23px rgba(0,0,0,0.08));
        background-color: #ffffff;
        overflow: hidden;
        position: relative;
        margin-right: 30px;
        margin-top: 20px;
        @media screen and (max-width: $max-width){
            width: 57.77vw;
            border-radius: 2.66vw;
            filter: drop-shadow(0px 0.3vw 2.3vw rgba(0,0,0,0.08));
            margin-right: 2.66vw;
            margin-top: 1.77vw;
        }
        @media screen and (max-width: $max-mobile-width){
            margin-top: 30px;
        }
    }
    .top-part{
        border-radius: 30px;
        width: 100%;
        overflow: hidden;
        position: relative;
        @media screen and (max-width: $max-width){
            border-radius: 2.66vw;
        }
        img{
            width: 100%;
        }
        .popular-item-category{
            font-size: 30px;
            font-weight: bold;
            position: absolute;
            color: #fff;
            background: rgba(255,255,255,0.4);
            padding: 23px;
            border-radius: 10px;
            left: 30px;
            bottom: 32px;
            @media screen and (max-width: $max-width){
                font-size: 2.66vw;
                padding: 2.04vw;
                border-radius: 0.88vw;
                left: 2.66vw;
                bottom: 2.84vw;
            }
        }
        .popular-item-distance{
            font-size: 30px;
            font-weight: bold;
            position: absolute;
            color: #fff;
            background: rgba(255,255,255,0.2);
            padding: 23px;
            border-radius: 10px;
            right: 30px;
            bottom: 32px;
            @media screen and (max-width: $max-width){
                font-size: 2.66vw;
                padding: 2.04vw;
                border-radius: 0.88vw;
                right: 2.66vw;
                bottom: 2.84vw;
            }
            @media screen and (max-width: $max-mobile-width){
                font-size: 14px;
            }
        }
    }
    .bottom-part{
        padding: 15px 10px 20px;
        position: relative;
        @media screen and (max-width: $max-width){
            padding: 1.5vw 1vw 2vw;
        }
        @media screen and (max-width: $max-mobile-width){
            padding: 15px 10px 20px;
        }
    }
    .popular-item-title{
        font-size: 21px;
        color: #292929;
        font-weight: bold;
        @media screen and (max-width: $max-width){
            font-size: 2.1vw;
        }
        @media screen and (max-width: $max-mobile-width){
            font-size: 21px;
        }
    }
    .popular-item-location{
        font-size: 14px;
        color: #292929;
        font-weight: 500;
        opacity: 0.8;
        margin-top: 10px;
        @media screen and (max-width: $max-width){
            font-size: 1.4vw;
            margin-top: 1vw;
        }
        @media screen and (max-width: $max-mobile-width){
            font-size: 14px;
        }
        img{
            margin-bottom: -5px;
            display: initial;
            width: 14px;
            @media screen and (max-width: $max-width){
                width: 1.4vw;
            }
            @media screen and (max-width: $max-mobile-width){
                width: 14px;
            }
        }
    }
    .popular-item-phone{
        width: 90px;
        height: 39px;
        border-radius: 10px;
        font-size: 18px;
        position: absolute;
        right: 10px;
        top: 0;
        padding: 0;
        display: flex;
        align-items: center;
        transform: translate(0, -50%);
        @media screen and (max-width: $max-width){
            width: 9vw;
            height: 3.9vw;
            border-radius: 1vw;
            font-size: 1.8vw;
            right: 1vw;
        }
        @media screen and (max-width: $max-mobile-width){
            width: 90px;
            height: 39px;
            border-radius: 10px;
            right: 10px;
            font-size: 18px;
        }
        img{
            width: 18px;
            margin: 0;
            margin-left: 6px;
            @media screen and (max-width: $max-width){
                width: 1.8vw;
                margin-left: 0.6vw;
            }
            @media screen and (max-width: $max-mobile-width){
                width: 18px;
                margin-left: 6px;
            }
        }
    }
    .slick-list{
        overflow: hidden;
    }
    .slick-slide {
        margin: 0 10px;
    }
    .slick-track{
        padding: 30px 0;
        @media screen and (max-width: $max-width){
            padding: 3vw 0;
        }
    }
    .popular-block-grid{
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;
        margin-right: -10px;
        .popular-item{
            width: calc(33.33% - 20px);
            margin: 0 10px;
            margin-bottom: 20px;
            @media screen and (max-width: $max-mobile-width){
                width: 100%;
            }
        }
        .top-part{
            display: flex;
        }
    }
}
